{{#leaflet-map lat=lat lng=lng zoom=zoom}}

  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#each sortedByZip as |zipcode|}}
    {{#marker-layer lat=zipcode.lat lng=zipcode.lng}}
      {{#popup-layer}}
        <hr>
        {{#each zipcode.events as |event|}}
          {{#link-to 'event' event.id}}
            <h4>{{event.name}}</h4>
            <div>Max Guests: {{event.maxGuests}}</div>
            <div>Zip Code: {{event.zip}}</div>
          {{/link-to}}
          <hr>
        {{/each}}
      {{/popup-layer}}
    {{/marker-layer}}
  {{/each}}


{{/leaflet-map}}
