{{#if inNew}}
<form class="ui form" id="user_new_form" onsubmit="return false">
  <div class="field">
    <label>Name</label>
    <input id="name" name="name" type="text">
  </div>
  <div class="field">
    <label>Max Guests</label>
    <input id="maxGuests" name="maxGuests" type="number" min="2">
  </div>
  <div class="field">
    <label>Address</label>
    <input id="address" name="address" type="text">
  </div>
  <div class="field">
    <label>Description</label>
    <input id="description" name="description" type="text">
  </div>
  <div class="ui submit button mini green" {{action "createEvent" false}}>Submit</div>
  <div class="ui error message"></div>
</form>
{{else}}
<button class="ui button mini blue" {{action "toggleNew"}}>{{fa-icon "plus"}}</button>
{{/if}}
