<div class="ui card" style="width:300px;margin:5px;">
  <div class="image">
    <img src={{user.avatar}} class='ui fluid image card-image' style="height: 350px;object-fit: cover;">
  </div>
  <div class="extra">
    {{user.name}}
  </div>
</div>
