<div class="container" style="margin:10px">
  <form class="ui form">
    <h4 class="ui dividing header">Sign In</h4>
    <div class="field">
      <div class="two fields">
        <div class="field">
          <label>Email</label>
          {{input type="text" value=userEmail placeholder="email"}}
        </div>
        <div class="field">
          <label>Password</label>
          {{input type="password" value=userPassword placeholder="password"}}
        </div>
      </div>
    </div>
  </form>
  <button class="ui button circular fluid" style="background-color:#EEF3E2;margin-top:10px;" {{action "loginUser"}}>Sign In</button>
  <button class="ui button circular fluid" style="background-color:#EEF3E2;margin-top:10px;" {{action "snuffleLogin"}}>Snuffles, Son!</button>
</div>
