{{#if (routeReturn currentPath)}}
  <div style="background-image:url('/assets/images/DinnerAnd_Splash.png');background-size:cover;background-position:center;min-height:100vh;font-family:'Lato'">
    {{outlet}}
  </div>
{{else}}
  <div style="min-height:100vh;background-color:#FFFFFE;font-family:'Lato'">
    {{outlet}}
  </div>
{{/if}}
