<button class="ui basic button floated right">{{fa-icon "camera"}}</button>
test
{{outlet}}
<!-- <div class="ui pushable segment component context">
  {{#ui-sidebar class="inverted menu left inline vertical" context=".component.context" id="sub-sidebar"}}
    <a class="item">Item 1</a>
    <a class="item">Item 2</a>
    <a class="item">Item 3</a>
  {{/ui-sidebar}}
  <div class="pusher">
    <div class="ui basic segment" style="height: 100vh;">
      {{outlet}}
      test
    </div>
  </div>
</div> -->
