<div class="ui pushable component context">
  {{#ui-sidebar class="menu top inline horizontal" context=".component.context" id="sub-sidebar"}}
    <a class="item" href="/">Home</a>
    <a class="item" href="/dev">Dev</a>
    <a class="item" href="/events">Events</a>
    <a class="item" href="/users">Users</a>
  {{/ui-sidebar}}
  <div class="pusher">
    <div class="ui basic segment" style="height: 100vh;">
      <button class="ui basic circular button mini right floated"  {{action "toggleSidebar"}}>{{fa-icon "bars"}}</button>
      <br><br>
      {{outlet}}
    </div>
  </div>
</div>
