<!-- <h2 id="title">Dinner And ...</h2>
{{#if session.isAuthenticated}}
  <button {{action 'logout'}}>Logout</button>
{{else}}
  {{user-create createUser='createUser'}}
  {{user-login loginUser='loginUser'}}
{{/if}} -->
<!-- <div style="background-image:url('DinnerAnd_Splash.png')";> -->
  <!-- <img src="assets/images/DinnerAnd_Splash.png" alt="" /> -->
<!-- </div> -->
